.addProductWrap {
    max-width: 550px;
    margin: 0 auto;

}

h2 {
    text-align: center;
}

.addProductInput {
    width: 550px;
}

.productInput {
    width: 550px;
    height: 35px;
    margin-bottom: 15px;
    padding: 0 5px;
    box-sizing: inherit;

    background-color: #3d4e56;
    border: none;
}

.counterWrap {
    width: 550px;
    margin: 0 auto;
}

.productImageWrap {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    position: relative;

    background-color: #3d4e56;
    border-radius: 50px;
}

.productImage {

    transform: translate(35%, 35%);
}

.productListImage {
    width: 250px;
    height: 60px;
    margin: 0 auto;

    background-color: #3d4e56;
}

.addProduct {
    display: block;
    width: 100px;
    height: 35px;
    margin: 0 auto;
    color: white;

    background-color: #373b43;
    border: none;
}