.addProductWrap {
    max-width: 550px;
    margin: 0 auto;

}

h2 {
    text-align: center;
}

.addProductInput {
    width: 550px;
}

input:focus {
    outline: none;
}
.productInput {
    width: 550px;
    height: 35px;
    margin-bottom: 15px;
    padding: 0 5px;
    box-sizing: inherit;

    background-color: #3d4e56;
    border: none;
}

.counterWrap {
    width: 550px;
    margin: 0 auto;
}

.productImageWrap {
    width: 60px;
    height: 60px;
    margin: 0 auto;
    margin-bottom: 15px;
    position: relative;

    background-color: #3d4e56;
    border-radius: 50px;
}

.productImage {
    width: 35px;
    height: 35px;
    transform: translate(35%, 35%);
}

.productListImage {
    width: 300px;
    height: 70px;
    margin: 0 auto;
    margin-bottom: 3px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    background-color: #3d4e56;
}

.productItemWrap {
    width: 50px;
    height: 50px;

    background-color: #495b63;
    border-radius: 50px;
}

.productItemWrap:hover {
    background-color: #2b3840;
}

.productImageItem {
    width: 30px;
    height: 30px;
    margin: 10px;
}

.addProduct {
    display: block;
    width: 100px;
    height: 35px;
    margin: 0 auto;
    color: white;

    background-color: #373b43;
    border: none;
}